.m-flexbox {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
    background: #666 url('../../assets/bg.png') no-repeat fixed center;
  }
  
  .m-flexitem {
    max-width: 16rem; 
    width: 100%; 
    background-color: #fff;
    padding: 2rem 4rem 7rem 4rem;
  }
  
  .m-btn-back {
    font-size: 2rem;
    color: #666;
  }
  
  label {
    color: #999;
  }
  
  .m-form-wrapper {
    margin-top: 4rem;
  }
  
  .m-input-full-width {
    width: 100%;
  }
  
  .m-input {
    color: #d0d0d0;
  }
  
  .m-center {
    text-align: center;
  }
  
  .m-middle {
    vertical-align: middle;
  }
  
  .m-btn-wrapper {
    margin-top: 3rem;
  }
  
  .m-btn {
    background-color: #00acac !important;
    border-radius: 0.7rem !important;
    max-width: 6rem !important;
    width: 100% !important;
    padding: 0.5rem 0.8rem !important;
  }